@model IEnumerable<Model_2_test.Models.Major>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Major</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MajorTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MajorTitle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MajorID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MajorID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MajorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
