@model IEnumerable<train_project_1.Models.Schedule>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Departure_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckIn_time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departure_time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Departure_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckIn_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departure_time)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RouteR_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RouteR_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RouteR_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
